body {
  font-family: "Roboto", sans-serif !important;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 35px;
  height: 35px;
}

.popup {
  padding: 5px;
  color: black;
}

.popup-green {
  background-color: #ccffcc !important;
}

.popup-red {
  background-color: #ffd6cc !important;
}

.last-num-days {
  width: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  text-align: center;
}

.footer a {
  color: grey;
}

.content-wrap {
  padding-bottom: 3.5rem;
}

.ap-dropdown-menu {
  color: black;
  text-align: start;
}

.rcw-widget-container {
  max-width: 25vw !important;
}

.rcw-launcher {
  background-color: #2196f3 !important;
}

.rcw-conversation-container .rcw-header {
  background-color: #2196f3 !important;
}

.rcw-client .rcw-message-text {
  background-color: #2196f3 !important;
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}
